.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  width: 750px;
  height: 1334px;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 以下、TODO用スタイル */
.input_area {
  background-color: #c1ffff;
  width: 85%;
  height: 10vh;
  padding: 0 16px;
  margin: 8px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.addButton {
  color: #333;
  font-size: medium;
  border-radius: 16px;
  border: none;
  padding: 1.6vh;
  margin: 16px;
  background-color: #e8ffff;
}

.addButton:hover {
  background-color: #60e9ff;
  color: #fff;
  cursor: pointer;
}

.compDleteButton {
  /* color: #333; */
  font-size: medium;
  border-radius: 16px;
  border: none;
  padding: 1%;
  margin-left: 8px;
}

.compDleteButton:hover {
  cursor: pointer;
}

.imcomplete_area {
  background-color: #c6ffe2;
  width: 85%;
  min-height: 200px;
  height: 40vh;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
}

.complete_area {
  background-color: #ffffe0;
  width: 85%;
  min-height: 200px;
  height: 40vh;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-size: x-large;
  font-weight: bold;
  color: #666;
}

.list_row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
