.container {
  /* min-height: 100vh; */
  width: auto;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #094067;
  color: #fffffe;
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
  align-items: center;
  padding-left: 12px;
}

.main {
  /* width: 375px; */
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 以下、TODO用スタイル */
.input_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.input_text {
  width: 289px;
  height: 50px;
  font-size: 100%;
  border-radius: 16px;
  border: 4px solid #90b4ce;
  padding-left: 12px;
  outline: none;
}

.input_text::placeholder {
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  vertical-align: middle;
  color: #90b4ce;
}

.addButton {
  width: 50px;
  height: 50px;
  background-color: #fffffe;
  color: #90b4ce;
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 4px solid #90b4ce;
  margin-left: 12px;
}

.addButton:hover {
  color: #094067;
  border-color: #094067;
  cursor: pointer;
}

.compDleteButton {
  /* color: #333; */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: medium;
  border: none;
  margin: 0 4px;
}

.compDleteButton:hover {
  cursor: pointer;
}

.imcomplete_area {
  background-color: #90b4ce;
  width: 100%;
  min-height: 200px;
  height: 40vh;
}

.IncompleteTodosFlex {
  display: flex;
  align-items: center;
}

.complete_area {
  background-color: #ffffe0;
  width: 100%;
  min-height: 200px;
  height: 40vh;
  border-radius: 8px;
}

.title {
  font-size: large;
  font-weight: bold;
  color: #fffffe;
  text-align: center;
  margin: 4px 0;
}

.list_row {
  width: auto;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  color: #fffffe;
  display: block;
  background-color: #094067;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 8px;
}

.list_row:not(:last-child) {
  margin-bottom: 8px;
}
