html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  margin-right: 8px;
}

input {
  border-radius: 16px;
  border: none;
  padding: 2vh 10vw 2vh 24px;
  outline: none;
}

input::placeholder {
  font-size: large;
}

* {
  box-sizing: border-box;
}
